
    <nav>
      <ul>
        <li><a href="#HOME" id="btnScrollToTop" value="HOME" onclick="ScrollToTop()" >HOME</a></li>
        <li><a href="#ABOUT" id="btnScrollPositionB" value="ABOUT" onclick="ScrollToPositionB()" >ABOUT</a></li>
        <li><a href="#PORTFOLIO" id="btnScrollPositionA" value="PORTFOLIO" onclick="ScrollToPositionA()" >PORTFOLIO</a></li>
        <li><a href="#CONTACT" id="btnScrollPositionC" onclick="ScrollToPositionC()">CONTACT</a></li>
      </ul>
    </nav>
    
    



 <!-- HOME PAGE -->  
<!-- <div><canvas></canvas></div>  --> 
  
  	<div id="home">
    <a name="home"></a>
      
  	 
  	 <!--  <span id="logo">
        <img src="assets/logo2.png" />
      </span>
      <br> -->
  <span id="logo2">
    <p></p>
  </span>
      <!-- <span class="wet_paint"><img src="assets/wet_paint.png" /></span> --><br>
      <!-- <canvas id="myCanvas" width="1000" height="500"> </canvas> -->
  	  <!-- <img src="assets/html5.png"/> -->
  	





    </div>
	 	
    





<!-- ABOUT PAGE -->  
		<div id="about">
		   <a name="about"></a>

		  <h1>ABOUT ME</h1>
      <span class="sub"> watch out, time for me to brag..</span>
		  
		  <p>Hello, my name is Paolo Cosentino I'm a Web & Graphic Designer based in Chicago, Il. I also have major skills in motion graphics, and print design. If you have a project or creative need that I can help with, get ahold of me!
		  </p>
		  
      <div class="pic">
        <img src="assets/me.jpg" />
      </div>


		  <p class="para1">I'm obsessed with making things and even more obsessed with making things better. I've been in the business of creating since I hung my first painting on the fridge when I was 3. After graduating from Dominican University, I've been actively involved in the web design community for the last 2 years. I currently work for a web and print design company called TUKAIZ based out of Franklin Park.
      <br><br>
      My specialty is front-end web design and development, making pixel magic in photoshop and turning it into beautiful, semantic HTML & CSS. My interests, however, extend beyond the web and I love helping people with print, web and marketing strategy. I even love making designs move by creating professional motion graphics and video.
      <br><br>
      When I'm not designing, you can find me on the golf course or going out for a nice brisk jog.
      </p>
		  
		  
		  
		<div id="skills">LOOK WHAT I CAN DO<br>
	  	  <div class="col1">
  	  	  <div id="column_item">Web Design</div> 
    		  <div id="column_item">Branding & Identity</div> 
          <div id="column_item">Version Control</div> 
          <div id="column_item">Command Line</div> 
  		  </div>
		  
		    <div class="col2">
          <div id="column_item">HTML/CSS</div>
          <div id="column_item">Motion Graphics</div>
          <div id="column_item">Social Media</div>   
          <div id="column_item">Search Engine Optimization</div>  
  		  </div>
		</div>
	</div>  		
				
				


 

<!-- PORTFOLIO PAGE -->  				
<div id="portfolio">
   <a name="portfolio"></a>	
  <h1>PORTFOLIO</h1>	
  <span class="sub">A few things I've dabbled on..</span>
<div id="work">
      
      <span class="cat">
        <a href="assets/asa.jpg" rel="lightbox[group]"><span id="fade"><img src="assets/asa_thumb.jpg" /></span></a>
        <a href="assets/asa2.jpg" rel="lightbox[group]"></a>
        <a href="assets/asa3.jpg" rel="lightbox[group]"></a>
      </span>

      <span class="cat">
        <a href="assets/frito1.jpg" rel="lightbox[group2]"><span id="fade"><img src="assets/frito_thumb.jpg" /></span></a>
        <a href="assets/frito2.jpg" rel="lightbox[group2]"></a>
        <a href="assets/frito3.jpg" rel="lightbox[group2]"></a>
        <a href="assets/frito4.jpg" rel="lightbox[group2]"></a>
      </span>

      <span class="cat">
        <a href="assets/tkml.jpg" rel="lightbox"><span id="fade"><img src="assets/tkml_thumb.jpg" /></span></a>
      </span>

      <span class="cat">
        <a href="assets/touch1.jpg" rel="lightbox[group4]"><span id="fade"><img src="assets/touch_thumb.jpg" /></span></a>
        <a href="assets/touch2.jpg" rel="lightbox[group4]"></a>
      </span>

      <span class="cat">
        <a href="assets/rocky4.jpg" rel="lightbox"><span id="fade"><img src="assets/rocky_thumb.jpg" /></span></a>
      </span>
    </div>
</div>







<!-- CONTACT PAGE -->  
	<div id="contact">
    <!-- http://railscasts.com/episodes/263-client-side-validations -->
	  <a name="contact"></a>

	  <h1>CONTACT</h1>
    <span class="sub"> don't be shy, drop by to say hi</span>
      <p id="contact_blurb">
        I'm currently available for freelance projects. If you're interested in working with me, please get in touch using one of the methods below. Or feel free to just say hi. I like that too.
     </p>

    <%= form_tag url_for(:action => 'send_email'), :remote => true, :id => 'contact_form' do %>
      <div id="tag1">First Name:</div>
      <%= text_field_tag :first_name, '', :name => "user[first_name]", :size => "41" %><br>
      <div id="tag1">Last Name:</div>
      <%= text_field_tag :last_name, '', :name => "user[last_name]", :size => "41" %><br>
      <div id="tag1">Email Address:</div>
      <%= text_field_tag :email_address, '', :name => "user[email_address]", :size => "41" %><br>
      <div id="tag1">How can I help you?</div>
      <%= text_area_tag :notes, '', :name => "user[notes]", :size => "30x10" %><br>
      <%= submit_tag "Submit", :id => "submit_form_button" %>
    <% end %>

	</div>

