<div id="page">
    <nav>
      <ul>
        <li><a href="#HOME" id="btnScrollToTop" value="HOME" onclick="ScrollToTop()" >HOME</a></li>
        <li><a href="#ABOUT" id="btnScrollPositionB" value="ABOUT" onclick="ScrollToPositionB()" >ABOUT</a></li>
        <li><a href="#PORTFOLIO" id="btnScrollPositionA" value="PORTFOLIO" onclick="ScrollToPositionA()" >PORTFOLIO</a></li>
        <li><a href="#CONTACT" id="btnScrollPositionC" onclick="ScrollToPositionC()">CONTACT</a></li>
      </ul>
    </nav>
    


 <!-- HOME PAGE -->  
  	<div id="home">
      <div class="curl">
    </div>
      <span id="dimensions"></span>
      <div class="playstation">
          <div data-pos="1" id="p"></div>
          <div data-pos="2" id="co"></div>
          <div data-pos="3" id="r"></div>
          <div data-pos="4" id="t"></div>
          <div data-pos="5" id="f"></div>
          <div data-pos="6" id="o1"></div>
          <div data-pos="7" id="l"></div>
          <div data-pos="8" id="i"></div>
          <div data-pos="9" id="o2"></div>
      </div>
    
    <div id="title">
      <span id="title-line1" class="title-line">"Im a sans-serf kinda guy"</span>
    </div>
    
    <a name="home"></a> 
    <div id="logo2"></div>  
      <div id="container">
        <!-- <div id="compass"></div>
        <div id="triangle"></div>
        <div id="curve"></div>
        <div id="pencil"></div> -->
      </div>
    </div>
	 	


<!-- ABOUT PAGE -->  
	<div id="about">
		  <h1>ABOUT ME</h1>
      <h2> watch out, time for me to brag..</h2>
		  
		  <p>Hello, my name is Paolo Cosentino. I'm a User Interface Designer based in Chicago, IL. If you have a project or creative need that I can help with, I would love to hear about it!
		  </p>
		  
      <div id="avatar"></div>

		  <p id="odd">I'm passionate with making things and even more passionate with making things better. I've been in the business of creating since I used the living room wall as my first fresco when I was 3 years old, needless to say my mother wasnt a fan of my first piece of art. After graduating from Dominican University, I've been actively involved in the web design community. I currently work for a web development company called TKML based out of Franklin Park.
      </p>
      

      <p id="odd">
      My specialty is User Interface design and front-end development. I enjoy creating pixel magic using applications such as Balsamiq or Photoshop and turning it into beautiful HTML5 & CSS3. My interests, however, extend beyond the web and I love making designs come to life by creating professional motion graphics and fun animations. 
      </p>
      <p id="odd">
      When I'm not designing, you can find me on the golf course or going out for a nice brisk jog. "Mens sane in corpore sana"
      </p>  
		  
  <div id="skills">
    <h1>LOOK WHAT I CAN DO</h1>
        <ul>
          <li>Web Design</li>
          <li>Wireframing</li> 
          <li>Web Development</li> 
          <li>Deployment</li> 
          <li>Version Control</li> 
        </ul>
      
        <ul>
          <li>HTML5/CSS3</li>
          <li>jQuery</li>
          <li>Haml/Sass</li>
          <li>Responsive Web Design</li>
          <li>Search Engine Optimization</li>  
        </ul>

        <ul>
          <li>Motion Graphics</li> 
          <li>Command Line</li>
          <li>Adobe Creative Suite</li>
          <li>Mac/Windows/Linux</li>
          <li>Time Management</li>
        </ul>
    </ul>
  </div>      	
</div>    
				


<!-- PORTFOLIO PAGE -->  				
<div id="portfolio">
  <h1>PORTFOLIO</h1>	
  <h2>a few things I've dabbled on..</h2>
<div id="work">
<h6>WEB</h6>
<div class="uso">
      <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/uso.jpg" 
             rel="myLightbox" 
             videocaption="USO Application" 
             title="Front-End Development" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="wgn">
      <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/wgn_cubs.jpg" 
             rel="myLightbox" 
             videocaption="WGN Cubs Opening Day Lunch RSVP" 
             title="Front/Back-End Development in Cross Media" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="frito_speed">
      <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/frito_speed.jpg" 
             rel="myLightbox" 
             videocaption="Frito-Lay Save Your Flavor, Pick Your Prize Sweeptakes" 
             title="Front/Back-End Development in Cross Media" 
             >
           </a>
         </ul>
        </span>
      </div>

    <div class="asa">
    <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/asa.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="ASA Purl" 
             title="Front & Back-End Development" 
             >
           </a>
         </ul>
        </span>  
      </div>
 
        <div class="frito">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
          href="assets/frito3.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Frito Reskin" 
             title="Front-End Development" 
             >
           </a>
         </ul>
        </span> 
      </div>


        <div class="becker">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
          href="assets/becker.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Becker Application" 
             title="Front-End Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  
        <div class="tkml1">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/tkml.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="TKML Whiteboard" 
             title="Front-End Web Design/Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  
        <div class="touch">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/touch1.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Touch Purl" 
             title="Front-End Web Design/Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  



  <h6>PRINT</h6>
        <div class="kiss">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/ironmans_kiss.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Iron Man's Kiss Comic Illustration" 
             title="Poster Design" 
             >
           </a>
         </ul>
        </span>
      </div>
  
        <div class="rocky">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/rocky4.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Rocky IV Illustration" 
             title="Poster Design" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="nye">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/nye.jpg" 
             rel="myLightbox" 
             videocaption="Villa Brunetti NYE Celebration" 
             title="Poster Design" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="xmas_card">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/christmas_card.jpg" 
             rel="myLightbox" 
             videocaption="Giovanelli Christmas Card 2013" 
             title="Card Design" 
             >
           </a>
         </ul>
        </span>
      </div>
<br>

<h6>WIREFRAMES</h6>

      <div class="njoy">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/njoy1.jpg" 
             rel="myLightbox" 
             videocaption="NJOY Logo Upload" 
             title="Wireframe" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="njoy">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/njoy2.jpg" 
             rel="myLightbox" 
             videocaption="NJOY Cost Page" 
             title="Wireframe" 
             >
           </a>
         </ul>
        </span>
      </div>


      <div class="njoy">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/njoy3.jpg" 
             rel="myLightbox" 
             videocaption="NJOY Product Pricing" 
             title="Wireframe" 
             >
           </a>
         </ul>
        </span>
      </div>

      <div class="njoy">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/njoy4.jpg" 
             rel="myLightbox" 
             videocaption="NJOY Product Review" 
             title="Wireframe" 
             >
           </a>
         </ul>
        </span>
      </div>
<br>
<h6>ANIMATIONS</h6>
  <!--- MOVIES -->
        <div class="tkml2">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="http://www.youtube.com/watch?v=qqC8-YonmRw" 
             rel="myLightbox" 
             videocaption="TKML Whiteboard Animation" 
             title="Design, Front & Back-End Development" 
             >
           </a>
         </ul>
        </span>
        </div>
  
        <div class="tkml3">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="http://www.youtube.com/watch?v=fzl8XxMxRjg" 
             rel="myLightbox" 
             videocaption="Original TKML Whiteboard Animation" 
             title="Design, Front & Back-End Development" 
             >
           </a>
         </ul>
        </span>
        </div>
  
        <div class="tkml4">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="http://www.youtube.com/watch?v=aq0QrxQpMDQ" 
             rel="myLightbox" 
             videocaption="Whiteboard Animation " 
             title="Design, Front & Back-End Development" 
             >
           </a>
         </ul>
        </span>
        </div>

 
        <div class="xmascard">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/xmascard.swf?width=600&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Christmas E-Card Animation" 
             title="Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>


        <div class="bluenred">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/blue_n_red.swf?width=600&amp;height=420" 
             rel="myLightbox[flash]" 
             videocaption="Blue n Red Animation" 
             title="Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>


        <div class="duck">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/duck.swf?width=650&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Ducks Like Chocolate Too" 
             title="Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>


        <div class="golf_putt">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/golf_putt.swf?width=650&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Hole In One" 
             title="Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>

 
        <div class="whysoblue">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/why_so_blue.swf?width=800&amp;height=450" 
             rel="myLightbox[flash]" 
             videocaption="Why You So Blue Animation" 
             title="Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>
 

        <div class="barscene">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/bar_scene.swf?width=800&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Lazer Nites Animation" 
             title="Design, Front & Back-End Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>
   
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $(".gallery:gt(0) a[rel^='myLightbox']").myLightbox({animation_speed:'slow',slideshow:10000, hideflash: true});
        });
        </script>  

      <!-- <span class="cat">
        <a href="assets/lvb1.mov" type="video/mov" rel="lightvideo">
          <span id="fade"><img src="assets/lvb1_thumb.jpg" width="122" height="122"/></span>
          <span class="description">La Bella Vita Senior Thesis<br>
            <ul><li>Design, Front & Back-end Animation</li></ul></span>
        </a>
      </span> -->


    <!-- <div id="other">
        <a href="http://www.youtube.com/paolosportfolio" target="blank">
          <img src="assets/opt.png" alt="text"width="350" height="20"/>
        </a>
    </div> -->



<h6>JUST FIDDLIN' AROUND</h6>
      <div id="fiddle_two">
        <a class="shadow" 
           href="http://jsfiddle.net/pcosentino88/nDX6a/" target="_blank" 
           videocaption="My Bagel Maker" 
           title="My Bagel Maker" 
           >
        </a>
      </div>

    
      <div id="fiddle_one">
        <a class="shadow" 
           href="http://jsfiddle.net/pcosentino88/h3V4B/" target="_blank" 
           videocaption="3 Second Unbind" 
           title="Three Second Unbind" 
           >
        </a>
      </div>

      <div id="fiddle_three">
        <a class="shadow" 
           href="http://jsfiddle.net/pcosentino88/qsWH2/" target="_blank" 
           videocaption="Edwin Is Your Friend" 
           title="Edwin Is Your Friend" 
           >
        </a>
      </div>
    
    </div>
</div>





<!-- CONTACT PAGE -->  
	<div id="contact">
	  <h1>CONTACT</h1>
    <h2>I'm so social..</h2>
      <p id="contact_blurb">
        Want to get in touch? Well you're in the right place! I'm currently available for freelance projects. If you like what you see and you're interested in working with me, please, get in touch using one of the methods below. Or feel free to just say hi at<a href="mailto:pcportfolio88@gmail.com?Subject=Portfolio%20Notification" target="blank">
          <u>pcportfolio88@gmail.com</u>.
      </a> I like that too.
     </p>

    <%= form_tag url_for(:action => 'send_email'), :remote => true, :id => 'contact_form' do %>
      <div id="tag1">First Name:</div>
      <%= text_field_tag :first_name, '', :name => "user[first_name]" %><br>
      <div id="tag1">Last Name:</div>
      <%= text_field_tag :last_name, '', :name => "user[last_name]"%><br>
      <div id="tag1">Email Address:</div>
      <%= email_field_tag :email_address, '', :name => "user[email_address]"%><br>
      <div id="tag1">How can I help you?</div>
      <%= text_area_tag :notes, '', :name => "user[notes]" %><br>
      <%= submit_tag "Submit", :id => "submit_form_button" %>
    <% end %>

    <span id="socialmedia">
      <a href="http://www.linkedin.com/profile/view?id=106884262&trk=tab_pro" target="blank">
        <div id="linkedin"></div>
      </a>
      <a href="https://www.twitter.com/pcportfolio" target="blank">
        <div id="twitter"></div>
      </a>
      <a href="https://github.com/pcosentino" target="blank">
        <div id="github"></div>
      </a>
      <a href="https://www.pixelapse.com/pcosentino" target="blank">
        <div id="pixelapse"></div>
      </a> 
    </span>

	</div>

 <footer>
  <p>This website and all its content, design and code are ©2013 Paolo Cosentino.</p>
 </footer>
</div>


