
    	




  <!-- NAVIGATION -->   				
    <div class="nav">
      <div class="one">
        <input type="button" id="btnScrollToTop" value="HOME" onclick="ScrollToTop()" /> 
        <input type="button" id="btnScrollPositionB" value="ABOUT" onclick="ScrollToPositionB()" />
        <input type="button" id="btnScrollPositionA" value="PORTFOLIO" onclick="ScrollToPositionA()" />
        <input type="button" id="btnScrollPositionC" value="CONTACT" onclick="ScrollToPositionC()" />
      </div>
    </div>
    



 <!-- HOME PAGE -->    
  	<div id="home">
  	   <a name="home"></a>
  	  <span id="liner">"gimmie some sugar
        <span class="wet_paint"><img src="assets/wet_paint.png" /></span><br>
      </span>
  	  
      <!-- <canvas id="myCanvas" width="1000" height="500"> </canvas> -->
  	  <span class="right"><img src="assets/html5.png"/><span>the web is my canvas"</span></span>
  	</div>
		 	





<!-- ABOUT PAGE -->  
		<div id="about">
		   <a name="about"></a>

		  <h1>ABOUT ME</h1><span class="sub"> watch out, time for me to brag..</span>
		  
		  <p>Hello, my name is Paolo Cosentino I'm a Web & Graphic Designer based in Chicago, Il. I also have major skills in motion graphics, and print design. If you have a project or creative need that I can help with, get ahold of me!
		  </p>
		  
<div class="pic">
      <img src="assets/me.jpg" />
      </div>


		  <p id="p1">I'm obsessed with making things and even more obsessed with making things better. I've been in the business of creating since I hung my first painting on the fridge when I was 3. After graduating from Dominican University, I've been actively involved in the web design community for the last 2 years. I currently work for a web and print design company called TUKAIZ based out of Franklin Park.
<br><br>
      My specialty is front-end web design and development, making pixel magic in photoshop and turning it into beautiful, semantic HTML & CSS. My interests, however, extend beyond the web and I love helping people with print, web and marketing strategy. I even love making designs move by creating professional motion graphics and video.
<br><br>
      When I'm not designing, you can find me on the golf course or going out for a nice brisk jog.
      </p>
		  
		  
		  
		<div id="skills">LOOK WHAT I CAN DO<br>
	  	  <div class="col1">
  	  	  <div id="column_item">Web Design</div> 
    		  <div id="column_item">Branding & Identity</div> 
          <div id="column_item">Version Control</div> 
          <div id="column_item">Command Line</div> 
          <div id="column_item">HTML/CSS</div>
          <div id="column_item">Motion Graphics</div>
          <div id="column_item">Social Media</div>
          <div id="column_item">Search Engine Optimization</div>
  		  </div>
		  
		    <!-- <div class="col2">
  		  </div> -->
		</div>
	</div>  		
				
				


 <!-- LIGHTBOX -->
    <div class="backdrop"></div>
    <div class="box">
      <div class="close"><img src="assets/close.png"/></div>
      <div id="content">Light Box Text</div>
    </div>

<!-- PORTFOLIO PAGE -->  				
<div id="portfolio">
  
   <a name="portfolio"></a>	
  <h1>PORTFOLIO</h1>	
  <span class="sub">hey mac, you wanna buy a sundial?</span>

		<!-- Carousel -->
 <div class="my_carousel">
			<!-- Carousel Containter -->
  <div class="carousel_container">
					
      		<div id="carousel"></div>
        		<img class="nextItem" src="assets/arrow_left.png"/>
        		<img class="prevItem" src="assets/arrow_right.png"/>
        	</div>
	
      		<!-- Caption Container -->
      		<div class="caption_container">
      			<div id="captions"></div>
      		</div>
		

          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		  <div class="image"><img src="assets/touch_preview.jpg"/></div>
          			<div class="caption">
          				<h2>Buzz</h2>
				
          				  <p>this is buzz lightyear</p>
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/touch_purl.jpg"/></div>
          				  <br>
				
          			</div>	
          	</div>
          </div>
				
			
				
          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/asa_preview.jpg"/></div>
          			<div class="caption">
          				<h2>Woody</h2>
				
          				  <p>this is Sheriff Woody</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/asa_purl.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/thumb_image3.jpg"/></div>
          			<div class="caption">
          				<h2>Jesse</h2>
				
          				  <p>this is Jesse</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/image3.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->
            <div class="carousel_item">
          		<div class="image"><img src="assets/thumb_image4.jpg"/></div>
          			<div class="caption">
          				<h2>Rex</h2>
				
          				  <p>this is Rex</p> 
          				  <a href="#" class="lightbox"> CHECK ME OUT</a>
          				  <div id="box_content"><img src="assets/image4.jpg"/></div>
          				  <br>
			
          			</div>	
          	</div>
          </div>


          <div class="carousel_data">
          				<!-- begin items -->
          				<!-- Item -->javascript:void(0)
            <div class="carousel_item">
          		<div class="image"><img src="assets/frito_preview.jpg" width="200px" height="200px"/></div>
          			<div class="caption">
          				<h2>Frito Reskin</h2>
				
          				  <p>The Frito Reskin Project involved a precoded website and laying on a completely different look (and feel)</p> 
          				  <a href="#" class="lightbox">lets take a look, shall we?</a>
          				  <div id="box_content"><img src="assets/frito.jpg"/></div>
          				  <br>
			
          			</div>	
          	  </div>
            </div>
    </div>
  </div>
</div>





<!-- CONTACT PAGE -->  
	<div id="contact">
	
    <!-- http://railscasts.com/episodes/263-client-side-validations -->
	  <a name="contact"></a>

	  <h1>CONTACT</h1><span class="sub"> don't be shy, drop by and say HI!</span>

    <%= form_tag url_for(:action => 'send_email'), :remote => true do %>
      <%= label_tag :first_name, 'First Name:', :class => "first_name_label" %>
      <%= text_field_tag :first_name, '', :name => "user[first_name]", :size => "41" %><br>
      
      <%= label_tag :last_name, 'Last Name:', :class => "last_name_label" %>
      <%= text_field_tag :last_name, '', :name => "user[last_name]", :size => "41" %><br>
      
      <%= label_tag :email_address, 'Email Address:', :class => "email_address_label" %>
      <%= text_field_tag :email_address, '', :name => "user[email_address]", :size => "41" %><br>

      <p>How can I help you?</p>
      <%= label_tag :notes, '', :class => "notes" %>
      <%= text_area_tag :notes, '', :name => "user[notes]", :size => "30x10" %><br>

      <%= submit_tag "Submit", :id => "submit_form_button" %>
    <% end %>




<div data-role="page" data-theme="b" id="page1">

  <div data-role="header" id="hdrMain" name="hdrMain" data-nobackbtn="true">
    <h1>New Claim</h1>
  </div>

  <div data-role="content" id="contentMain" name="contentMain"> 
  
  <form id="form1">
  
  <div id="shipDiv" data-role="fieldcontain">
    <label for="shipNo">Shipping number*</label>    
    <input id="shipNo" name="shipNo_r" type="text" />
  </div>

  <div id="fnameDiv" data-role="fieldcontain">
    <label for="fname" id="fnameLabel" name="fnameLabel">First name*</label>    
    <input id="fname" name="fname_r" type="text" />
  </div>
  
  <div id="lnameDiv" data-role="fieldcontain">
    <label for="lname">Last name*</label>   
    <input id="lname" name="lname_r" type="text" />
  </div>
  
  <div id="emailDiv" data-role="fieldcontain">
    <label for="email">Email*</label>   
    <input id="email" name="email_r" type="text" />
  </div>
  
  <div id="phoneDiv" data-role="fieldcontain">
    <label for="phone">Phone</label>    
    <input id="phone" name="phone" type="text"/>
  </div>
  

    <div id="streetDiv" data-role="fieldcontain">
      <label for="street">Street address*</label>   
      <input id="street" name="street_r" type="text" />
    </div>
    <div id="cityDiv" data-role="fieldcontain">
      <label for="city">City*</label>   
      <input id="city" name="city_r" type="text" />
    </div>
    <div id="stateDiv" data-role="fieldcontain">
      <label id="stateLabel" for="state">State*</label>   
      <select id="state" name="state_r" tabindex="2">
                  <option value="ZZ">Please select a state</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
        </select>
    </div>
    
    <div id="zipDiv" data-role="fieldcontain">
      <label for="zip">Postal code*</label>   
      <input id="zip" name="zip_r" type="text"/>
    </div>
    
    <div id="whatDiv" data-role="fieldcontain">
      <label id="whatLabel" for="what">Please explain what happened*:</label>
      <textarea cols="40" rows="8" id="what" name="what_r"></textarea>
    </div>
  
    <div id="submitDiv" data-role="fieldcontain">    
     <input type="submit" value="Submit Claim" data-inline="true"/>
    </div>
    </form>
  </div><!-- contentMain -->
  
  <div data-role="footer" id="ftrMain" name="ftrMain"></div>
  
  <div align="CENTER" data-role="content" id="contentDialog" name="contentDialog">  
   <div>Please fill in all required fields before submitting the form.</div>
   <a id="buttonOK" name="buttonOK" href="#page1" data-role="button" data-inline="true">OK</a>
  </div>  <!-- contentDialog -->
  
  <!-- contentTransition is displayed after the form is submitted until a response is received back. -->
  <div data-role="content" id="contentTransition" name="contentTransition"> 
   <div align="CENTER"><h4>Your claim has been sent. Please wait.</h4></div>
   <div align="CENTER"><img id="spin" name="spin" src="img/wait.gif"/></div>
  </div>  <!-- contentTransition -->
  
  <!-- Although stored within page1 div tag, hdrConfirmation, contentConfirmation and ftrConfirmation represent a self contained 'confirmation page' -->
  <div data-role="header"  id="hdrConfirmation" name="hdrConfirmation" data-nobackbtn="true">
    <h1>Claim Created</h1>
  </div>
  
  <div data-role="content" id="contentConfirmation" name="contentConfirmation" align="center">  
    <p>A new claim has been created based on data you have submitted.</p> 
    <p>Your confirmation number is: <span id="confirmation" name="confirmation"></span>  </p>
  </div><!-- contentConfirmation -->  
    
  <div data-role="footer" id="ftrConfirmation" name="ftrConfirmation"></div> 
  
  
  <script>
   
    $(document).ready(function() {
    // Assign global variables
      hdrMainVar = $('#hdrMain');
      contentMainVar = $('#contentMain');
      ftrMainVar = $('#ftrMain');
      contentTransitionVar = $('#contentTransition');
      stateLabelVar = $('#stateLabel');
      whatLabelVar = $('#whatLabel');
      stateVar = $('#state');
      whatVar = $('#what');
      form1Var = $('#form1');
      confirmationVar = $('#confirmation');
      contentDialogVar = $('#contentDialog');
      hdrConfirmationVar = $('#hdrConfirmation');
      contentConfirmationVar = $('#contentConfirmation');
      ftrConfirmationVar = $('#ftrConfirmation'); 
      inputMapVar = $('input[name*="_r"]');
      
      hideContentDialog();
      hideContentTransition();
      hideConfirmation();
    }); 
  
    $('#buttonOK').click(function() {
      hideContentDialog();
      showMain();
      return false;      
    });
   
    
    $('#form1').submit(function() {
        var err = false;
        // Hide the Main content
        hideMain();
        
        // Reset the previously highlighted form elements
        stateLabelVar.removeClass(MISSING); 
        whatLabelVar.removeClass(MISSING);              
        inputMapVar.each(function(index){              
          $(this).prev().removeClass(MISSING); 
        });
        
        // Perform form validation
        inputMapVar.each(function(index){  
        if($(this).val()==null || $(this).val()==EMPTY){  
            $(this).prev().addClass(MISSING);            
            err = true;
          }          
        });   
        if(stateVar.val()==NO_STATE){           
          stateLabelVar.addClass(MISSING);                     
          err = true;
        }            
        if(whatVar.val()==null||whatVar.val()==EMPTY){   
          whatLabelVar.addClass(MISSING);   
          err = true;
        }
        
        // If validation fails, show Dialog content
        if(err == true){            
          showContentDialog();
          return false;
        }        
        
        // If validation passes, show Transition content
        showContentTransition();
        
        // Submit the form
        $.post("/forms/requestProcessor.php", form1Var.serialize(), function(data){
          confirmationVar.text(data);
          hideContentTransition();
          showConfirmation();
        });        
        return false;      
    });    
    
  function hideMain(){
    hdrMainVar.hide();
    contentMainVar.hide();
    ftrMainVar.hide();   
   }
   
  function showMain(){
    hdrMainVar.show();
    contentMainVar.show();
    ftrMainVar.show();
   }
   
   function hideContentTransition(){
    contentTransitionVar.hide();
   }      
   
   function showContentTransition(){
    contentTransitionVar.show();
   }  
   
  function hideContentDialog(){
    contentDialogVar.hide();
   }   
   
   function showContentDialog(){
    contentDialogVar.show();
   }
   
   function hideConfirmation(){
    hdrConfirmationVar.hide();
    contentConfirmationVar.hide();
    ftrConfirmationVar.hide();
   }  
   
   function showConfirmation(){
    hdrConfirmationVar.show();
    contentConfirmationVar.show();
    ftrConfirmationVar.show();
   } 

    
  </script>
</div> <!-- page1 -->

	</div>


  