
    <nav>
      <ul>
        <li><a href="#HOME" id="btnScrollToTop" value="HOME" onclick="ScrollToTop()" >HOME</a></li>
        <li><a href="#ABOUT" id="btnScrollPositionB" value="ABOUT" onclick="ScrollToPositionB()" >ABOUT</a></li>
        <li><a href="#PORTFOLIO" id="btnScrollPositionA" value="PORTFOLIO" onclick="ScrollToPositionA()" >PORTFOLIO</a></li>
        <li><a href="#CONTACT" id="btnScrollPositionC" onclick="ScrollToPositionC()">CONTACT</a></li>
      </ul>
    </nav>
    




 <!-- HOME PAGE -->  
  	<div id="home">
      <span id="dimensions"></span>
      <div class="playstation">
          <div data-pos="1" class="p"><span unselectable="on"></span></div>
          <div data-pos="2" class="co"><span unselectable="on"></span></div>
          <div data-pos="3" class="r"><span unselectable="on"></span></div>
          <div data-pos="4" class="t"><span unselectable="on"></span></div>
          <div data-pos="5" class="f"><span unselectable="on"></span></div>
          <div data-pos="6" class="o1"><span unselectable="on"></span></div>
          <div data-pos="7" class="l"><span unselectable="on"></span></div>
          <div data-pos="8" class="i"><span unselectable="on"></span></div>
          <div data-pos="9" class="o2"><span unselectable="on"></span></div>
      </div>
    
    <div id="title">
      <span id="title-line1" class="title-line">"Im a sans-serf kinda guy"</span>
    </div>
    
    <a name="home"></a> 
    <div id="logo2"></div>  

    <p>-I just want to thank <br> everyone who made this portfolio necessary.</p>

    </div>
	 	





<!-- ABOUT PAGE -->  
		<div id="about">
      <div id="next"></div>
		   <a name="about"></a>       
		  <h1>ABOUT ME</h1>
      <div class="sub"> watch out, time for me to brag..</div>
		  
		  <p>Hello, my name is Paolo Cosentino I'm a Web & Graphic Designer based in Chicago, Il. I also have major skills in motion graphics, and tinker around with print design. If you have a project or creative need that I can help with, get ahold of me!
		  </p>
		  

      <div class="pic">
        <img class='thatsme' src="assets/thatsme.png" width="79" height="136"/>
        <img src="assets/me.jpg" width="200" height="284"/>
      </div>


		  <p class="para1">I'm passionate with making things and even more passionate with making things better. I've been in the business of creating since I used the living room wall as my first fresco when I was 3 years old, needless to say my mother wasnt a fan. After graduating from Dominican University, I've been actively involved in the web design community. I currently work for a web development company called TKML based out of Franklin Park.
      <br><br>
      My specialty is front-end web design and development. Making pixel magic in photoshop and turning it into beautiful HTML & CSS. My interests, however, extend beyond the web and I love making designs come to life by creating professional motion graphics and animations.
      <br><br>
      When I'm not designing, you can find me on the golf course or going out for a nice brisk jog. "Mens sane in corpore sana"
      </p>
		  
		  
		  
		<div id="skills">LOOK WHAT I CAN DO<br>
	  	  <div class="column">
  	  	  <div id="column_item">Wireframing</div> 
    		  <div id="column_item">Web Design</div> 
          <div id="column_item">Web Development</div> 
          <div id="column_item">Deployment</div> 
          <div id="column_item">Version Control</div> 
  		  </div>
		  
		    <div class="column">
          <div id="column_item">HTML/CSS</div>
          <div id="column_item">jQuery</div>
          <div id="column_item">Command Line</div>
          <div id="column_item">Motion Graphics</div>   
          <div id="column_item">Search Engine Optimization</div>  
  		  </div>
		</div>
	</div>  		
				
				


 

<!-- PORTFOLIO PAGE -->  				
<div id="portfolio">
   <a name="portfolio"></a>	
  <h1>PORTFOLIO</h1>	
  <div class="sub">a few things I've dabbled on..</div>
<div id="work">
<h6>WEB & PRINT</h6>
    <div class="asa">
    <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/asa.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="ASA Purl" 
             title="Front & Back-end Development" 
             >
           </a>
         </ul>
        </span>  
      </div>
 
        <div class="frito">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/frito1.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Frito Reskin" 
             title="Front-end Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  
        <div class="tkml1">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/tkml.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="TKML Whiteboard" 
             title="Front-End Web Design/Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  
        <div class="touch">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/touch1.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Touch Purl" 
             title="Front-End Web Design/Development" 
             >
           </a>
         </ul>
        </span> 
      </div>
  
        <div class="kiss">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/ironmans_kiss.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Iron Man's Kiss Comic Illustration" 
             title="Design" 
             >
           </a>
         </ul>
        </span>
      </div>
  
        <div class="rocky">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/rocky4.jpg?width=800&amp;height=450" 
             rel="myLightbox" 
             videocaption="Rocky IV Illustration" 
             title="Design" 
             >
           </a>
         </ul>
        </span>
      </div>
<br>

<h6>ANIMATIONS</h6>
  <!--- MOVIES -->
        <div class="tkml2">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/tkml.mov?width=990&amp;height=474" 
             rel="myLightbox" 
             videocaption="TKML Whiteboard Animation" 
             title="Design, Front & Back-end Development" 
             >
           </a>
         </ul>
        </span>
        </div>
  
        <div class="tkml3">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/firstboard.mov?width=820&amp;height=328" 
             rel="myLightbox" 
             videocaption="Original TKML Whiteboard Animation" 
             title="Design, Front & Back-end Development" 
             >
           </a>
         </ul>
        </span>
        </div>
  
        <div class="tkml4">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/balance_act.mov?width=900&amp;height=350" 
             rel="myLightbox" 
             videocaption="Whiteboard Animation " 
             title="Design, Front & Back-end Development" 
             >
           </a>
         </ul>
        </span>
        </div>

 
        <div class="xmascard">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/xmascard.swf?width=600&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Christmas E-Card Animation" 
             title="Front & Back-end Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>


        <div class="bluenred">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/blue_n_red.swf?width=600&amp;height=420" 
             rel="myLightbox[flash]" 
             videocaption="Blue n Red Animation" 
             title="Front & Back-end Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>

 

        <div class="whysoblue">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/why_so_blue.swf?width=800&amp;height=450" 
             rel="myLightbox[flash]" 
             videocaption="Why You So Blue Animation" 
             title="Front & Back-end Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>
 

        <div class="barscene">
        <span class="gallery clearfix"></span>        
        <span class="cat">
        <ul class="gallery clearfix">
          <a class="shadow" 
             href="assets/bar_scene.swf?width=800&amp;height=500" 
             rel="myLightbox[flash]" 
             videocaption="Lazer Nites Animation" 
             title="Design, Front & Back-end Animation with Flash" 
             >
           </a>
         </ul>
        </span>
        </div>
        
  
      

        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $(".gallery:gt(0) a[rel^='myLightbox']").myLightbox({animation_speed:'slow',slideshow:10000, hideflash: true});
        });
        </script>
   

      <!-- <span class="cat">
        <a href="assets/lvb1.mov" type="video/mov" rel="lightvideo">
          <span id="fade"><img src="assets/lvb1_thumb.jpg" width="122" height="122"/></span>
          <span class="description">La Bella Vita Senior Thesis<br>
            <ul><li>Design, Front & Back-end Animation</li></ul></span>
        </a>
      </span> -->
    </div>


    <div id="other">
        <a href="http://www.youtube.com/paolosportfolio" target="blank">
          <img src="assets/opt.png" alt="text"width="350" height="20"/>
        </a>
    </div>
</div>







<!-- CONTACT PAGE -->  
	<div id="contact">
	  <a name="contact"></a>
	  <h1>CONTACT</h1>
    <div class="sub"> don't be shy, drop by to say hi</div>
      <p id="contact_blurb">
        I'm currently available for freelance projects. If you like what you see and you're interested in working with me, please, get in touch using one of the methods below. Or feel free to just say hi. I like that too.
     </p>

     
    <%= form_tag url_for(:action => 'send_email'), :remote => true, :id => 'contact_form' do %>
      <div id="tag1">First Name:</div>
      <%= text_field_tag :first_name, '', :name => "user[first_name]", :size => "33" %><br>
      <div id="tag1">Last Name:</div>
      <%= text_field_tag :last_name, '', :name => "user[last_name]", :size => "33" %><br>
      <div id="tag1">Email Address:</div>
      <%= text_field_tag :email_address, '', :name => "user[email_address]", :size => "33" %><br>
      <div id="tag1">How can I help you?</div>
      <%= text_area_tag :notes, '', :name => "user[notes]", :size => "29x8" %><br>
      <%= submit_tag "Submit", :id => "submit_form_button" %>
    <% end %>

    

    <span id="socialmedia">
      
        <div class="linkedin">
        <a href="http://www.linkedin.com/profile/view?id=106884262&trk=tab_pro" target="blank">
          <span class="linked_icon"></span>
        </a>
      </div>
      

      <div class="github">
        <a href="https://github.com/pcosentino" target="blank">
          <span class="git_icon"></span>
        </a>
      </div>


      <div class="pixelapse">
        <a href="https://www.pixelapse.com/pcosentino" target="blank">
          <span class="pixel_icon"></span>
        </a>
      </div> 

        
      <div class="email" />
      <a href="mailto:pcportfolio88@gmail.com?Subject=Portfolio%20Notification" target="blank"><u>pcportfolio88@gmail.com</u></a>
      </div>
          
        


    </span>

	</div>

 <div id="footer">
  <p>{Don't forget to resize me, I'm responsive!}</p>
 </div>



